.PatientPanel {
    width: 100%;
    height: 1024px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .desktop1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .text {
    top: 214px;
    left: 570px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame13 {
    top: 262px;
    left: 1150px;
    width: 190px;
    height: 226px;
    display: flex;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .frame3 {
    top: 14px;
    left: 14px;
    width: 162px;
    height: 192px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text02 {
    top: 48px;
    left: 17px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text07 {
    top: 330px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text09 {
    top: 472px;
    left: 402px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text11 {
    top: 472px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text13 {
    top: 398px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text15 {
    top: 398px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text17 {
    top: 476px;
    left: 639px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text19 {
    top: 623px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text21 {
    top: 699px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text23 {
    top: 773px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame14 {
    top: 395px;
    left: 570px;
    width: 331px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text25 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame16 {
    top: 472px;
    left: 871px;
    width: 214px;
    height: 57px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text27 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame17 {
    top: 472px;
    left: 498px;
    width: 102px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text29 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame18 {
    top: 474px;
    left: 213px;
    width: 102px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text31 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame15 {
    top: 323px;
    left: 570px;
    width: 331px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text33 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame19 {
    top: 619px;
    left: 380px;
    width: 200px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text35 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame20 {
    top: 693px;
    left: 380px;
    width: 200px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text37 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame21 {
    top: 767px;
    left: 380px;
    width: 200px;
    height: 55px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text39 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame22 {
    top: 844px;
    left: 380px;
    width: 524px;
    height: 155px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .text41 {
    top: 7px;
    left: 13px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .line1 {
    top: 596px;
    left: 0px;
    width: 1455px;
    height: 0px;
    position: absolute;
  }
  .text43 {
    top: 633px;
    left: 603.0896606445312px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .text45 {
    top: 708px;
    left: 603px;
    color: rgba(0, 0, 0, 1);
    width: 301px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .text47 {
    top: 784px;
    left: 602px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .group1 {
    top: 524px;
    left: 1164px;
    width: 194px;
    height: 63px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5 {
    top: 0px;
    left: 0px;
    width: 194px;
    height: 63px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 45px;
    background-color: rgba(124, 149, 255, 1);
  }
  .text49 {
    top: 18px;
    left: 47px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text51 {
    top: 849px;
    left: 75px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .nav-bar {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 146px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0 0 30px 30px;
    background-color: rgba(124, 149, 255, 1);
  }
  .frame1 {
    top: 0px;
    left: 1200px;
    width: 229px;
    height: 123px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame2 {
    top: 43px;
    left: 0px;
    width: 193px;
    height: 66px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 45px;
    background-color: rgba(10, 2, 42, 1);
  }
  .text56 {
    top: 9px;
    left: 31px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .logofr-a-m-e {
    top: 11px;
    left: 32px;
    width: 429px;
    height: 125px;
    position: absolute;
  }