/* Individual item */

.bm-item {
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    color: #ffff;
    margin-bottom: 10px;
    text-align: center;
    background-color:#4aa4ffea ;
    text-decoration: none;
    transition: color 0.1s;
   
  }
  
  .bm-item:hover {
    color: #0080ff;
  }
  /* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px;
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #1e90ff;
    
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 20px;
    width: 20px;
    border: solid rgba(0, 0, 0, 0) 10px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #373a47;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #bebebe;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #4aa4ffea;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255, 255, 255, 0.615);
  }